PORT=8080
EMPLEADOS_SERVICE_URL=http://empleados-service:8080
DEPARTAMENTOS_SERVICE_URL=http://departamentos-service:80
NOTIFICACIONES_SERVICE_URL=http://notificaciones-service:8080
PERFILES_SERVICE_URL=http://perfiles-service:8080
VACACIONES_SERVICE_URL=http://vacaciones-service:8080